$white-normal: #ffffff;
$white-dark: #edeaef;

$primary-normal: #06121e;
$primary-dark: #040f1a;

$secondary-normal: #090d11;
$secondary-dark: #06090c;

$red-normal: #d94140;
$red-dark: #b42b2b;

$black-normal: #232224;
$black-dark: #161617;




