header {
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i {
    color: $white-normal;
}

.icons-header {
    display: flex;
    gap: 14px;
}

.icons-header a:hover {
    i{
    color: $red-normal;
    }
}

.header-button {
    padding: 10px 30px;
    border-radius: 10px;
    color: $white-normal;
    background-color: $red-normal;
    transition: background-color 0.9s;
}

.header-button:hover {
    background-color: $white-normal;
    color: $red-normal;
}


.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 15%;
}


/* media scree for 768px */
@media screen and (max-width: 768px) {
    .header-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
     
    .header-logo img {
        width: 160px;
        margin-top: 46px;

    }

   
}



