.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Background bg header */
.bg-header {
    position: relative;

}
.bg-header::before {
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 17, 35, 0.2), #06121e), url("../images/pexels-khairul-nizam-16516.jpg");
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    background-position: 55% 0;
}
/* Background bg header */



/* HERO */
.hero {
    color: $white-normal;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.hero h1 {
    text-align: center;
    line-height: 145%;
    max-width: 950px;
    font-size: 50px;

}

.hero p {
    text-align: center;
    margin: 15px 0;
}
/* HERO */



/* button - join us */
.button-join {
    padding: 15px 30px;
    color: $white-normal;
    background-color: $red-normal;
    border-radius: 10px;
    font-size: 20px;
    border: 0;
    margin: 15px 0;
    font-weight: 500;
}

.button-join:hover {
    color: $red-normal;
    background: $white-normal;
    transition: background-color 0.9s;
}
/* button - join us */



/* media screen up to 768px for Hero */
@media screen and (max-width: 768px) {
    .hero {
        min-height: 65vh;
    }

    .hero h1 {
        font-size: 35px;
        padding: 0 15px;
        width: 100%;
    }

    .hero p {
        font-size: 13px;
    }

}
/* media screen up to 768px for Hero */



/* media screen up to 480px for Hero */
@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 25px;
    }
}
/* media screen up to 480px for Hero */





/* about section */

.about {
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
}

.about-main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 35px 15px 65px 15px;

    img {
        max-width: 570px;
    }
}

.about-main-content>div {
    flex: 1;
}
/* about section */


/* description */
.description {
    h2 {
        font-size: 40px;
        margin-bottom: 25px;
    }

    p {
        line-height: 160%;
        margin-bottom: 20px;
    }
}
/* description */



/* about media up to 768px screens */
@media screen and (max-width: 768px) {
    .about-main-content {
        flex-direction: column;
    }

}
/* about media up to 768px screens */




/* Courses cards */
.courses {
    background-color: $red-normal;
    opacity: 0.8;
    color: $white-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 55px 15px;
}

.courses-content h2 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.courses-content p {
    max-width: 1000px;
    margin-bottom: 20px;
    text-align: center;
    
}

.courses-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 45px 35px 45px;
}

.single-card-course {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: $primary-normal;
    border-radius: 15px;
    box-shadow: 0 -1px 15px -5px rgba(0,0,0, 0.6);
}

.single-card-course img {
    width: 100%;
    max-width:  350px;
}

.single-card-course img:hover {
    z-index: 1;
    transform:  scale(1.3);
    transition: 0.9s;

}

.courses-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $primary-normal;
    z-index: 2;
}

.courses-info button {
    background-color: $red-normal;
    padding: 5px 10px;
    color: $white-normal;
    border-radius: 5px;
    border-style: none;

}

.courses-info button:hover {
    background-color: $white-normal;
    color: $red-normal;
    transition: 0.9s;
}

@media screen and (max-width: 768px) {
    .courses-cards {
        flex-direction: column;
    }
}

/* Courses cards */



/* footer */
.footer-content img {
    width: 100px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    
    
}

.footer-content {
    justify-content: center;
    text-align: center;
    padding:0;
}

.footer-section h4,h5 {
    color: $white-normal;
    padding: 2px;
    margin-bottom:  10px;
}

.contact-us {
 text-align: center;
 margin-bottom: 15px;
 padding: 5px 0 5px 0;
}
/* footer */